
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
 }
 nav ul li{
   list-style-type: none;
   display: flex;  
}
nav ul{
display: flex;
gap: 40px;
margin-top: 20px;
color: #000000;
font-weight: 500;
}
nav {
    display: flex;
    justify-content:space-around;
    margin: 30px 0px;
}
.nav-button ,.hero-button ,.hero-button2{
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12px 16px;
    font-size: smaller;
    width: 160px;
    height: 44px;
    border: none;
    border-radius: 4px;
}

.hero-bg{
    background-image:url(./assets/hero-bg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   height: 600px;
    
}
  .hero-sec , .card-heading , .challenge-section {
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 120px;
    text-align: center;
  }
  .early-access{
    background-color:#FFFFFF ;
    color: #30B868;
    border-radius: 1000px;
    padding: 8px 12px;
    display: flex;
     justify-content: center;
     align-items: center;
     gap: 5px;
   
  }
  .button-conteiner{
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 20px;
  }
  .hero-button{
    width: 220px;  
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .hero-button2{
    background: none;
    border: #ffffff solid 3px;
     width: 200px;
     display: flex;
    justify-content: center;
    align-items: center;
     gap: 5px;
  }
  .card-heading{
     padding: 40px ;
     gap: 20px;
  }
   .card-heading p , .card-conteiner p {
    font-size: small;
    color: #627382;
   
   }
  .card-conteiner{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
     margin: 0px 140px;
    
   
  }
  .card-conteiner img {
   background-color: #F95555;
   height: 30px;
   border-radius: 40px;
   padding: 10px;
  }
  .card-conteiner h3{
    margin: 10px;
  }

  .card{
   height: 180px;
   width: 200px;
    padding: 20px;
    padding-top: 50px;
   border-radius: 8px;
 box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
  }
.knowledge-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 90px;
  
  
}

.knowledge-checkbox{
  margin: 20px 0px;
}
.knowledge-checkbox p{
  font-size: medium;
   display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin: 10px 0px;

  
}
.challenge-section{
  padding: 80px 40px;
  width: 1100px;
  height: 200px;
  background-color: #F7F6F2;
  margin-top:  250px ;
  margin-bottom: 100px;
  margin-left: 160px;
  
  
}
.challenge-section p{
  font-size: small;
    color: #627382;
    margin: 20px;
}
.footer{
  display: flex;
  justify-content: space-between;
 
  height: 250px;
  padding: 160px 180px 30px 155px;
  
}

.social-link img {
  margin-top: 5px;
padding: 5px;
height: 30px;
}

.line {
  width: 1280px;
  margin-left: 120px;
  height: 1px;
  background: rgba(255, 255, 255, 0.12);
}

.copy-right{
  background-color: #061c32;
  color: #b0bec5;
  text-align: center;
  padding: 20px 0;
  font-size: 13px;

}